body {
  background-color: mediumslateblue;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
h4{
  color:white;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
fieldset {
  background-color: cornflowerblue;
  border: none;
  border-radius: 10px;
  padding: 50px;
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

legend {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  padding: 0 10px;
  text-align: center;
  margin-bottom: 20px;
}

input {
  line-height: 20px;
  margin: 10px 0;
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: darkslateblue;
}

section{
  margin: 30px;
  display:inline-block;
}
#userList{

  color:white;
  font-family:Courier;
}
hr {
        
  height: 1px;        
  background-color:white; 
  margin: 10px 0;
}
ul{
  list-style: none;
  border: 2px solid rebeccapurple;
  background-color:black;
  width:400px;
  padding: 10px;
}